.center-text {
  text-align: center;
}

select {
  width: 300px;
}

#questions {
  display: none;
}

#results {
  display: none;
}

#retakebtn {
  display: none;
}

#resultheader {
  display: none;
}

body {
  font-family: 'Rubik', sans-serif;
}

h5 {
  display: block;
}

h4 {
  display: block;
}

select {
  margin-bottom: 15px
}

.center-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}